; =========================
; ATH GUI Generated Config
; =========================

Throat.Profile = 1
Throat.Diameter = {throat_diameter}
Throat.Angle = {throat_angle}
Coverage.Angle = {coverage_angle}
Length = {length}

Term.s = {term_s}
Term.q = {term_q}
Term.n = {term_n}

Mesh.AngularSegments = {mesh_angular_segments}
Mesh.LengthSegments = {mesh_length_segments}
Mesh.ThroatResolution = {mesh_throat_resolution}
Mesh.MouthResolution = {mesh_mouth_resolution}

Output.STL = 1
Output.ABECProject = 1